<!-- <div class="talent_card">
  <div class="left_side">
    <% @talents.each_with_index do |talent,idx| %>
      <div class="talent_name" id="talent_name_<%=idx%>">
        <%= talent.first_name %>
        <%= talent.last_name %>
      </div>
    <% end %>
  <div class="right_side">
    <% @talents.each_with_index do |talent,idx| %>
      <div class="talent_pic <% if idx == 0 %>active<% end %> " id="talent_pic_<%=idx%>">
        <%if talent.images.attached? %>
          <%= cl_image_tag(talent.images.key, width: 500, height: 700, crop: :thumb, gravity: :face, dpr: 4.0 )%>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div> -->






<!-- <script>
  var active_pic = document.querySelector(".talent_pic.active")
  var active_name = document.querySelectorAll(".talent_name.active")
  showSlides()
  function showSlides() {
    var talent_name = document.querySelectorAll(".talent_name")
    talent_name.forEach((element) => {
      element.addEventListener("mouseover", (event) =>{
          element.classList.add("active")
      });
      element.addEventListener("mouseout", (event) =>{
          element.classList.remove("active")
      });

    });
    var
  }

  active_pic.style.display = "flex";

</script> -->
