

<div class = "header sticky" >
  <div class="main_logo">
    <%= link_to image_tag("logo_gic.png", class: "main_logo"), root_path %>
  </div>
  <div class="nav-bar navbar-scrolled">
    <%= link_to "Acceuil", "/" , class: 'subheading underline--magical'%>
    <%= link_to "Evenements", events_path, class: 'subheading underline--magical' %>
    <%= link_to "Talents", talents_path, class: "d-none", class: 'subheading underline--magical' %>
    <%= link_to "Contacts", new_contact_path, class: 'subheading underline--magical' %>
  </div>
</div>


