

<div class="header">
  <div class="logo">
    <%= image_tag("logo_gic.png", class: "logo") %>
  </div>
  <div class="nav-bar">
    <%= link_to "Acceuil", "/" %>
    <%= link_to "Evenements", "/events" %>
    <%= link_to "Talents", "/talents" %>
    <%= link_to "Contact", '/contact' %>
  </div>
</div>
