

<div class="header">
  <div class="main_logo">
    <%= image_tag("logo_gic.png", class: "main_logo") %>
  </div>
  <div class="nav-bar">
    <%= link_to "Acceuil", "/" %>
    <%= link_to "Evenements", events_index_path %>
    <%= link_to "Talents", talents_index_path %>
    <%= link_to "Contacts", new_contact_path %>
  </div>
</div>
