<div class="container">
  <div class="header">
    <div class="logo">
      <%= image_tag("logo_gic.png", class: "logo") %>
    </div>
    <div class="nav-bar">
      <%= link_to "Acceuil", "/events" %>
      <%= link_to "Evenements", "/events" %>
      <%= link_to "Talents", "/events" %>
      <%= link_to "Contact", "/events" %>
    </div>
  </div>

  <div class="main-content">

  </div>

  <div class="footer">

  </div>
</div>
