<!-- <div class="newsletter-modal">
      <span class="js-close-btn">&times;</span>
      <p class="news_title">Restez au courant</p>
      <p class="news_txt">Insrivez vous à notre newsletter pour être prévenu de toute les dernières actualitées</p>
      <h1 class="gform_title">Inscription à la newsletter</h1>
      <%= simple_form_for @contact, html: { class: 'form-horizontal' },wrapper: :horizontal_form  do |f| %>
        <%= f.input :mail %>
        <%= f.button :submit %>
      <% end %>
    </div>
</div> -->

<!-- <i class="arrow-down-home fa fa-chevron-down fa-lg"></i> -->

 <!-- Video Balmain -->
  <div class="video_container scrollreveal">
    <div class="video_balmain">
      <div class="wrapper">
        <iframe src="https://player.vimeo.com/video/236559492?autoplay=1&loop=1&muted=1&title=0&byline=0&portrait=0&transparent=0&autoplay=1" width="640" height="480" frameborder="0" title="Gervais event OOTD" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
      </div>
    </div>
  </div>

<!-- About home -->
  <div class="scrollreveal slide-content-lg ">
    <div class="about-home center">
      <h1> <%= About.last.title %></h1>
      <p style="white-space: pre-line"> <%= About.last.description %></p>
    </div>
  </div>


<!-- gallery home -->
  <div  class="slide-content-lg scrollreveal home-gallery">
    <div class="masonry-grid-showroom">
      <div class="grid-sizer-showroom"></div>
        <% @showroom.each_with_index do |picture, idx| %>
        <div class="masonry-item-showroom description-maker-showroom">
            <% idxpicture = idx.to_s %>
            <%= cl_image_tag(picture.image.key, quality: 35 ,alt: picture.description, data: {id: idx}, id: idxpicture ,class: "o-zero") %>
        </div>
        <% end %>
    </div>
  </div>

<!-- Logo partner -->
  <div class="scrollreveal slide-content-sm">
    <div class="center" style="width: 80%">
      <div class="d-logo jc-center">
        <% @logos.each do |logo| %>
          <div class="logo">
            <% if logo.image.attached? %>
              <%= cl_image_tag(logo.image.key, quality: 20, alt: logo.title, width: 80, height: 80, crop: :pad, dpr: 3.0) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- <div class="text-newsletter ta-center m-auto">
        <h1>Inscrivez-vous</h1>
        <h1>à la Newsletter</h1>
      </div> -->
    </div>
  </div>


  <script>
    ScrollReveal().reveal('.scrollreveal', { opacity: 0.6, delay: 100, interval: 30, reset: false, distance: '5%', easing: 'cubic-bezier(0.5, 0, 0, 1)' });
  </script>

