<div class="container">
    <div class="header">
        <div class="logo">
            <%= image_tag("logo_gic.png", class: "logo") %>
        </div>
        <div class="nav-bar">
            <%= link_to "Acceuil", "/events" %>
            <%= link_to "Evenements", "/events" %>
            <%= link_to "Talents", "/events" %>
            <%= link_to "Contact", "/events" %>
        </div>
    </div>
    <div class="main-content">
        <div data-vimeo-defer id="balmain-video"></div>
        <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe src="https://player.vimeo.com/video/236559492?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
    <div class="footer">
    </div>
</div>
