<div class="presentation">
  <h1><%= About.last.title %></h1>
  <p style="white-space: pre-line"> <%= About.last.description %> </p>
</div>

<%= simple_form_for @contact, html: { class: 'form-horizontal' },wrapper: :horizontal_form  do |f| %>
  <%= f.input :mail %>
  <%= f.button :submit, class: 'submit-bottom' %>
<% end %>
