<div class="event-text">
  <p class="events-pics-description"> <%= @event.description %> </p>
  <div class="">
    <h1 class="events-pics-title"> <%= @event.title %> </h1>
    <h2 class="events-pics-subtitle"> <%= @event.subtitle %> </h2>
  </div>
</div>

<div class="masonry-grid-pictures">
  <div class="grid-sizer-pictures"></div>
  <% @pictures.each_with_index do |picture,idx| %>
    <% if (idx==0 || idx==5) %>
      <div class="masonry-item-pictures masonry-item-pictures-3 description-maker">
          <% idxpicture = idx.to_s   %>
          <%= cl_image_tag(picture.image.key,
            quality: 40 ,alt: picture.description,
            data: {id: idx},
            id: idxpicture,
            class: "o-zero mosaic-zoom") %>
      </div>

    <% else %>
      <div class="masonry-item-pictures description-maker">
          <% idxpicture = idx.to_s   %>
          <%= cl_image_tag(picture.image.key,
            quality: 20,
            alt: picture.description,
            data: {id: idx},
            id: idxpicture,
            class: "o-zero mosaic-zoom")
          %>
      </div>
    <% end %>
  <% end %>
</div>

