<div class="event-text">
  <p class="events-pics-description"> <%= @event.description %> </p>
  <div class="">
    <h1 class="events-pics-title"> <%= @event.title %> </h1>
    <h2 class="events-pics-subtitle"> <%= @event.subtitle %> </h2>
  </div>
</div>

<div class="masonry-grid-pictures">
  <div class="grid-sizer"></div>
  <% @event.pictures.each_with_index do |picture, idx| %>
    <div class="masonry-card-pictures">
        <% idxpicture = idx.to_s   %>
        <%= cl_image_tag(picture.image.key, quality: 100 ,alt: picture.description, data: {id: idx}, id: idxpicture, class: "masonry-item-pictures o-zero mosaic-zoom") %>
        <div class="d-none"><%= picture.description %> </div>
    </div>
  <% end %>
</div>


