<!DOCTYPE html>
<html>
  <head>
    <title>GERVAIS PARIS IMAGE COMMUNICATION</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="Accept-CH" content="Width, Viewport-Width, Downlink, DPR">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/flashes' %>
      <%= render 'shared/head' %>
      <div class="main-content">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
